body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 190, 1) 35%,
    rgba(89, 57, 204, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #333;
}

.shoe-form .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.shoe-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.shoe-form input[type="text"],
.shoe-form input[type="number"],
.shoe-form input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.shoe-form input[type="text"]:focus,
.shoe-form input[type="number"]:focus,
.shoe-form input[type="file"]:focus {
  border-color: #4caf50;
}

.form-actions {
  text-align: center;
}

.submit-btn {
  background-color: #1a75ff;
  color: white;
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background-color: rgb(46, 108, 201);
}
